<?xml version="1.0"?>
    <config>
        <modules>
            <Canalweb_NewsletterPopup>
              <version>1.0.0</version>
            </Canalweb_NewsletterPopup>
        </modules>
        <global>
            <blocks>
                <newsletterpopup>
                    <class>Canalweb_NewsletterPopup_Block</class>
                </newsletterpopup>
            </blocks>
            <models>
                <newsletterpopup>
                    <class>Canalweb_NewsletterPopup_Model</class>
                </newsletterpopup>
            </models>
            <helpers>
                <newsletterpopup>
                    <class>Canalweb_NewsletterPopup_Helper</class>
                </newsletterpopup>
            </helpers>
        </global>
        <frontend>
            <layout>
                <updates>
                    <newsletterpopup>
                            <file>newsletter_popup.xml</file>
                    </newsletterpopup>
                </updates>
            </layout>
        </frontend>
        <admin>
            <routers>
                <adminhtml>
                    <args>
                        <modules>
                            <canalweb_newsletterpopup before="Mage_Adminhtml">Canalweb_NewsletterPopup_Adminhtml</canalweb_newsletterpopup>
                        </modules>
                    </args>
                </adminhtml>
            </routers>
        </admin>
        <adminhtml>
           <acl>
               <resources>
                   <admin>
                       <children>
                           <system>
                               <children>
                                   <config>
                                       <children>
                                           <cw_popup translate="title">
                                               <title>Canal Web - Newsletter Popup</title>
                                           </cw_popup>
                                       </children>
                                   </config>
                               </children>
                           </system>
                       </children>
                   </admin>
               </resources>
           </acl>
         </adminhtml>
         <default>
             <cw_popup>
                 <popupconfig>
                     <activation>0</activation>
                     <type_popup>auto</type_popup>
                     <delai>5000</delai>
                     <cookie>24</cookie>
                     <placeholder>Email</placeholder>
                 </popupconfig>
             </cw_popup>
         </default>
    </config>
